.IndexFooter-footer {
    display: flex;
    padding: 60px 0 80px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.IndexFooter-footer > div {
    margin: 30px;
}

.IndexFooter-footer h6 {
    font-size: 15px;
    color: white;
    margin: 10px 0;
}

.IndexFooter-footer > div > div a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}
